@model IEnumerable<MVC_Client.Models.NewInstallationM>
@{
    ViewData["Title"] = "Nouvelles énergies renouvelables";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        #map-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #title {
            text-align: center;
            margin-bottom: 1em;
        }

        #map-and-controls {
            display: flex;
            justify-content: space-between;
            margin: 0.5em;
            width: 80%;
        }

        #map {
            width: 70%;
            height: 400px;
        }

        #controls-container {
            position: relative;
            align-items: flex-end;
        }

        #action-links {
            margin-bottom: 10px;
            align-self: flex-end;
            margin-top: 10px;
        }

        #zoom-controls {
            position: absolute;
            bottom:0;
            margin-top: 10px;
        }
        .imagesize {
            width: 75%;
        }

        .text {
            font-weight: bold;
            font-size:medium;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.9.2/proj4.js"></script>
</head>
<body>

    <div id="map-container">
        <h1 id="title">@ViewData["Title"]</h1>
        <div id="map-and-controls">
            <div id="map"></div>
            <div id="controls-container">
                <div id="action-links">
                    @Html.ActionLink("Ajouter une nouvelle installation", "InstallationDetail")<br />
                    @Html.ActionLink("Ajouter une nouvelle surface", "InstallationSurface")
                </div>
                <div id="arrow-controls" class="leaflet-control-container"</div>
                <div id="zoom-controls" class="leaflet-control-container"></div>
            </div>
        </div>
    </div>

    <script src="~/lib/leaflet/leaflet.js"></script>
    <script src="~/lib/leaflet/leaflet.min.js"></script>
    

    <script>
        var map = L.map('map').setView([46.3, 7.5333], 8);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
        }).addTo(map);
        document.getElementById('zoom-controls').appendChild(map.zoomControl.getContainer());

        var LeafIcon = L.Icon.extend({
            options: {
                iconSize: [20, 20]
            }
        });

        var hydrauIcon = new LeafIcon({ iconUrl: '../../Images/hydraulic.png' }),
            eolienIcon = new LeafIcon({ iconUrl: '../../Images/eolien.png' }),
            solarIcon = new LeafIcon({ iconUrl: '../../Images/solarPanel.png' }),
            biogasIcon = new LeafIcon({ iconUrl: '../../Images/biogas.png' });

        L.icon = function (options) {
            return new L.Icon(options);
        };
        
        //Define the EPSG of the api because it's depricated
        proj4.defs("EPSG:21781", "+proj=somerc +lat_0=46.9524055555556 +lon_0=7.43958333333333 +k_0=1 +x_0=600000 +y_0=200000 +ellps=bessel +towgs84=674.374,15.056,405.346,0,0,0,0 +units=m +no_defs +type=crs");

        const sourceCRS = 'EPSG:21781';
        const targetCRS = 'EPSG:4326';

        // Function to transform coordinates
        function transformCoordinates(coordinates) {
            const transform = proj4(sourceCRS, targetCRS);
            const transformedCoord = transform.forward(coordinates);
            return [transformedCoord[1], transformedCoord[0]];
        }
        var jsModel = @Html.Raw(Json.Serialize(Model));

        //loop to set everything into the map
        for (i in jsModel) {
            console.log(jsModel[i])
            var markerCoord = [jsModel[i].coordinateX, jsModel[i].coordinateY]
            var transforCoord = transformCoordinates(markerCoord);
            var point;

            if (jsModel[i].energyType == "solaire") {
                point = L.marker(transforCoord, {icon: solarIcon}).addTo(map);
            }
            else if (jsModel[i].energyType == "eolien") {
                point = L.marker(transforCoord, { icon: eolienIcon }).addTo(map);
            }
            else if (jsModel[i].energyType == "hydro") {
                point = L.marker(transforCoord, { icon: hydrauIcon }).addTo(map);
            }
            else {
                point = L.marker(transforCoord, { icon: biogasIcon }).addTo(map);
            }
            point.bindPopup(
                '<div class="text">' + jsModel[i].energyType + '<div/>' +
                "<br>" + 
                '<img src="data:image/png;base64,' + jsModel[i].image + '" class="imagesize" />' + 
                "<br>" + 
                jsModel[i].description).openPopup();
        }

    </script>

</body>
</html>