@{
    ViewData["Title"] = "Details";
}
<h1>@ViewData["Title"]</h1>

<p>hello</p>

<div>
    @Html.ActionLink("installationDetail", "installationDetail")
</div>
<div>
@Html.ActionLink("installationOrientation", "installationOrientation")
</div>
