@model MVC_Client.Models.OrientationM
@{
    ViewData["Title"] = "InstallationOrientation";
}

<h1>Saisie de mon installation privée</h1>
<h6><a asp-area="" asp-controller="Home" asp-action="Home">Home</a> > Installation privée</h6>

<div class="installationCreationBox">
    <form asp-action="InstallationOrientation" id="orientationForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group mb-3">
            <label asp-for="azimutOrientation" class="control-label">Orientation du champ (azimut) [°]</label>
            <input asp-for="azimutOrientation" class="form-control" type="number" min="10" max="60" />
            <span asp-validation-for="azimutOrientation" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="tiltOrientation" class="control-label">Inclinaison de la toiture [°]</label>
            <input asp-for="tiltOrientation" class="form-control" type="number" min="10" max="60" />
            <span asp-validation-for="tiltOrientation" class="text-danger"></span>
        </div>
    </form>
</div>

<a asp-area="" asp-controller="Home" asp-action="InstallationType"><button>←</button></a>
<a asp-area="" asp-controller="Home" asp-action="InstallationSurface"><button class="droite" type="submit" form="orientationForm">→</button></a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
