@model MVC_Client.Models.NewInstallationM

@{
    ViewData["Title"] = "InstallationSurface";
}

<h1>InstallationSurface</h1>

<h4>NewInstallationM</h4>
<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="InstallationSurfaceD" method="post" enctype="multipart/form-data">
            <div class="installationCreationBox">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Description" type="hidden" />
                <input asp-for="Image" type="hidden" />
                <input asp-for="Street" type="hidden" />
                <input asp-for="No" type="hidden" />
                <input asp-for="PostCode" type="hidden" />
                <input asp-for="City" type="hidden" />
                <input asp-for="CoordinateX" type="hidden" />
                <input asp-for="CoordinateY" type="hidden" />
                <input asp-for="AzimutOrientation" type="hidden" />
                <input asp-for="TiltOrientation" type="hidden" />
                <input asp-for="EnergyType" type="hidden" />
                <input asp-for="IntegrationType" type="hidden" />
                <input asp-for="CellsType" type="hidden" />
                <div class="form-group">
                    <label asp-for="Length" class="control-label"></label>
                    <input asp-for="Length" class="form-control" id="idlength" />
                    <span asp-validation-for="Length" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Width" class="control-label"></label>
                    <input asp-for="Width" class="form-control" id="idwidth" />
                    <span asp-validation-for="Width" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Surface [m²]</label>
                    <p asp-for="surface" class="form-control" type="number" id="idsurface"></p>
                </div>
            </div>
            <div class="form-group">
                <a type="button" class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="InstallationOrientation">Back</a>
                <input type="submit" value="Create" class="btn btn-primary droite" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    document.getElementById("idlength").addEventListener("change", calculateSurface);
    document.getElementById("idwidth").addEventListener("change", calculateSurface);


    function calculateSurface() {
        var length = document.getElementById("idlength").value;
        var width = document.getElementById("idwidth").value;
        var surface = length * width;

        if (surface > 0) {
            document.getElementById("idsurface").innerHTML = surface;
        }

    }
</script>
