@model MVC_Client.Models.NewInstallationM

@{
    ViewData["Title"] = "InstallationOrientation";
}

<h1>Saisie de mon installation privée</h1>

<h6><a asp-area="" asp-controller="Home" asp-action="Home">Home</a> > Installation privée</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InstallationOrientation">
            <div class="installationCreationBox">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="description" type="hidden" />
                <input asp-for="formFile" type="hidden" />
                <input asp-for="street" type="hidden" />
                <input asp-for="no" type="hidden" />
                <input asp-for="postCode" type="hidden" />
                <input asp-for="city" type="hidden" />
                <input asp-for="coordinateX" type="hidden" />
                <input asp-for="coordinateY" type="hidden" />
                <div class="form-group">
                    <label asp-for="azimutOrientation" class="control-label">Orientation du champ (azimut) [°]</label>
                    <input asp-for="azimutOrientation" class="form-control" type="number" min="0" max="360" />
                    <span asp-validation-for="azimutOrientation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="tiltOrientation" class="control-label">Inclinaison de la toiture [°]</label>
                    <input asp-for="tiltOrientation" class="form-control" type="number" min="10" max="90" />
                    <span asp-validation-for="tiltOrientation" class="text-danger"></span>
                </div>
                <input asp-for="energyType" type="hidden" />
                <input asp-for="integrationType" type="hidden" />
                <input asp-for="cellsType" type="hidden" />
                <input asp-for="length" type="hidden" />
                <input asp-for="width" type="hidden" />
            </div>
            <div class="form-group">
                <input value="Back" class="btn btn-primary" id="backButton" />
                <input type="submit" value="Next" class="btn btn-primary droite" />
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Other code...

        var backButton = document.getElementById("backButton");

        if (backButton) {
            backButton.addEventListener("click", function () {
                // Go back to the previous page
                history.back();
            });
        }
    });
</script>
