@model MVC_Client.Models.InstallationTypeM
@{
    ViewData["Title"] = "Type of Installation";
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var energyTypeInputs = document.querySelectorAll('input[name="energyType"]');
        var disparuDiv = document.getElementById("disparu");
        var form = document.getElementById("typeForm");
        var nextButton = document.getElementById("nextButton");

        for (var i = 0; i < energyTypeInputs.length; i++) {
            energyTypeInputs[i].addEventListener("change", function () {
                if (this.value === "solaire") {
                    disparuDiv.style.display = "block";
                } else {
                    disparuDiv.style.display = "none";
                }
            });
        }
        nextButton.addEventListener("click", function () {
            // Submit the form
            form.submit();
        });
    });
</script>

<h1>Saisie de mon installation privée</h1>
<h6><a asp-area="" asp-controller="Home" asp-action="Home">Home</a> > Installation privée</h6>
<div class="installationCreationBox">
    <form id="typeForm">
        <h2>Energie renouvelable :</h2>
        <div class="droite">
            <div class="form-chek">
                <input class="form-check-input" type="radio" name="energyType" value="eolien" id="eolienType" checked />
                <label class="form-check-label">
                    Eolien
                </label>
            </div>
            <div class="form-chek">
                <input class="form-check-input" type="radio" name="energyType" value="solaire" id="solaireType" />
                <label class="form-check-label">
                    Photovoltaïque
                </label>
            </div>
            <div class="form-chek">
                <input class="form-check-input" type="radio" name="energyType" value="bioGaz" id="bioGazType" />
                <label class="form-check-label">
                    Bio-gaz
                </label>
            </div>
            <div class="form-chek">
                <input class="form-check-input" type="radio" name="energyType" value="hydro" id="hydroType" />
                <label class="form-check-label">
                    Mini-hydraulique
                </label>
            </div>
        </div>
        <div class="clear"></div>
        <div id="disparu">
            <h2>Type d'intégration :</h2>
            <div class="droite">
                <div class="form-chek">
                    <input class="form-check-input" type="radio" name="integrationType" value="ajoutee" id="ajouteeType" checked />
                    <label class="form-check-label">
                        Ajoutée
                    </label>
                </div>
                <div class="form-chek">
                    <input class="form-check-input" type="radio" name="integrationType" value="integree" id="integreeType" />
                    <label class="form-check-label">
                        Intégrée
                    </label>
                </div>
            </div>
            <div class="clear"></div>
            <h2>Type de cellules PV :</h2>
            <div class="droite">
                <div class="form-chek">
                    <input class="form-check-input" type="radio" name="cellsType" value="poly" id="polyType" checked />
                    <label class="form-check-label">
                        Polychristallin
                    </label>
                </div>
                <div class="form-chek">
                    <input class="form-check-input" type="radio" name="cellsType" value="mono" id="monoType" />
                    <label class="form-check-label">
                        Monochristallin
                    </label>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </form>
</div>

<a asp-area="" asp-controller="Home" asp-action="Location"><button>←</button></a>
<a asp-area="" asp-controller="Home" asp-action="InstallationOrientation"><button class="droite">→</button></a>