@model MVC_Client.Models.NewInstallationM

@{
    ViewData["Title"] = "InstallationDetail";
}

<h1>Saisie de mon installation privée</h1>

<h6><a asp-area="" asp-controller="Home" asp-action="Home">Home</a> > Installation privée</h6>
<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="InstallationDetailD" method="post" enctype="multipart/form-data">
            <div class="installationCreationBox">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Upload your image</label>
                    <input id="UploadedImage" class="form-control" type="file" />
                </div>
                <div>
                    <img id="imagePreview" style="max-width: 100%; max-height: 300px;" />
                </div>
                <input asp-for="Image" type="hidden" id="imageFileId" />
                <input asp-for="Street" type="hidden" />
                <input asp-for="No" type="hidden" />
                <input asp-for="PostCode" type="hidden" />
                <input asp-for="City" type="hidden" />
                <input asp-for="CoordinateX" type="hidden" />
                <input asp-for="CoordinateY" type="hidden" />
                <input asp-for="AzimutOrientation" type="hidden" />
                <input asp-for="TiltOrientation" type="hidden" />
                <input asp-for="EnergyType" type="hidden" id="energyChoosen" />
                <input asp-for="IntegrationType" type="hidden" />
                <input asp-for="CellsType" type="hidden" />
                <input asp-for="Length" type="hidden" />
                <input asp-for="Width" type="hidden" />
            </div>
            <div class="form-group">
                <button><a class="noStyle" type="button" id="backButton" asp-area="" asp-controller="Home" asp-action="InstallationLocation">←</a></button>
                <input type="submit" value="→" class="droite borderTest" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    var pageToReturnTo;
    var energyChoosen = '@Model.EnergyType';
    if (energyChoosen == "solaire") {
        pageToReturnTo = "InstallationSurface"
    }
    else {
        pageToReturnTo = "InstallationType"
    }
    document.getElementById('backButton').href = '/Home/' + pageToReturnTo;

    var input = document.getElementById('UploadedImage');

    // You will receive the Base64 value every time a user selects a file from his device
    // As an example I selected a one-pixel red dot GIF file from my computer
    input.onchange = function () {
        var file = input.files[0],
            reader = new FileReader();

        reader.onloadend = function () {
            var output = document.getElementById('imagePreview');
            output.src = reader.result;
            // Since it contains the Data URI, we should remove the prefix and keep only Base64 string
            var b64 = reader.result.replace(/^data:.+;base64,/, '');
            console.log(b64);
            document.getElementById("imageFileId").value = b64;
        };

        reader.readAsDataURL(file);
    };
</script>