@model MVC_Client.Models.LocationM

@{
    ViewData["Title"] = "Location";
}

<h1>Location</h1>

<h4>LocationM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Location" id="locationForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Street" class="control-label">Rue</label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="No" class="control-label">No</label>
                <input asp-for="No" class="form-control" />
                <span asp-validation-for="No" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label">Code postale</label>
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger">Localité</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div id="validationMessage" style="color: red;"></div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details">Retour à la liste</a>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('#locationForm').submit(function(event) {
            event.preventDefault(); // Prevents the default form submission

            var address = $('#Street').val(); // Get the address input value
            var no = $('#No').val(); // Get the No input value

            // Make an AJAX request to the API to check if the address exists
            $.get('https://api3.geo.admin.ch/rest/services/api/MapServer/find', {
                layer: 'ch.swisstopo.amtliches-gebaeudeadressverzeichnis',
                searchText: address,
                searchField: 'stn_label',
                returnGeometry: false,
                contains: false
            }).done(function(response) {
                // Check the response from the API to determine address existence
                if (response.results.some(result => result.attributes.adr_number === no)) {
                    // If address exists, submit the form
                    $('#locationForm').off('submit').submit();
                    window.location.href = '/Home/Details';
                } else {
                    $('#validationMessage').text('Address does not exist. Please enter a valid address.');
                }
            }).fail(function() {
                $('#validationMessage').text('Error checking the address. Please try again.');
            });
        });
    </script>
}
