html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#disparu {
    display: none;
}

.droite {
    float: right;
}

.clear {
    padding-bottom: 1vw;
    clear: both;
}

.installationCreationBox {
    margin: 3rem;
    padding: 2rem;
    border: 2px solid black;
}